<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <p>burası products.ejs dosyası</p>
    <%- include('partials/navbar') %>
    <h1>Anasayfa</h1>
    
    <form action="/postalaa" method="post">
        <input type="number" name="isOnHome" placeholder="isOnHome">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="isActive" placeholder="isActive">
        <input type="text" name="imgUrl" placeholder="imgUrl">
      
        <input type="submit" value="EKLE">
    </form>

    <form action="/delete" method="post">
        <input type="number" name="id" placeholder="id">     
        <input type="submit" value="SİL">
    </form>

        <ul>
            <% products.forEach(urun=> { %>
                <% if (urun.isOnHome) { %>
                    <li style="list-style: none; text-decoration: none;" class="mb-2"><a style="text-decoration: none;"
                            href="/products/<%= urun.id %>">

                            <%- include('partials/product', {urun:urun}) %>
                            
                        </a></li>
                    <% } %>  <!-- end of if -->
                        <% }) %>   <!-- end of foreach -->

        </ul>






</body>

</html>